ul {
   list-style-type: none;
}

.eventList li{
  display:inline-block;
  width:100%;
}

#react-paginate {
  height: 2em;
  margin:2em;
  position: absolute;
  bottom: 2em;
}

#react-paginate ul {
  display: inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

#react-paginate li {
  display: inline-block;
}

.wrapper{
  margin:0;
  padding:0;
  height:100%;
  width:100%;
  overflow:hidden;
  overflow-wrap: normal;
  display:flex;
  justify-content: center;
}

.eventList{
  margin:3em;
  margin-top:12%;
  max-height:800px;
  overflow-y:scroll;
  width:100%;
}

.event-date{
  font-weight: bold;
  margin-right:3em;
}

.event-desc{
  margin-left:2em;
  width:80%;
}

.event-edit, .event-save{
  width:2em;
  height:1em;
  padding: 3px;
  background:transparent;
  border:none;
  color:blue;
}

.event-edit:hover{
  text-decoration: underline;
}

.event-save:hover{
  text-decoration: underline;
}

.search-bar{
  display:flex;
  height:2em;
  top:2em;
  position:absolute;
}

.search-form{
  font-size:2em;
  padding:1em;
  border-radius:2em;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

.search-submit{
  display: none;
}