body{
  font:lato 1em;
}

ul {
   list-style-type: none;
}

li{
  display:inline-block;
}

#react-paginate {
  height: 2em;
  margin:2em;
  top:30%;
  position: sticky;
  width:100%;
}

#react-paginate ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#react-paginate li {
    display: inline-block;
}

.wrapper{
  padding:3em;
  width:100%;
}

.eventList{
  margin-top:5em;
  width: 100%;
}

.event-date{
  font-weight: bold;
  margin-right:3em;
}

.event-desc{
  margin-left:2em;
  width:80%;
}

.event-edit, .event-save{
  width:2em;
  height:1em;
  padding: 3px;
  background:transparent;
  border:none;
  color:blue;
}

.event-edit:hover{
  text-decoration: underline;
}

.event-save:hover{
  text-decoration: underline;
}

.search-container{
  height: 2em;
  margin:2em;
  top:1em;

}

.search-bar{
  width: 6em;
}

.search-form{
  height:2em;
  font-size:2em;
  padding:1em;
  border-radius: 1em;
  border: 2px solid #888;
}

input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}

.search-submit{
  display: none;
}